<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 - 2020 TomTom N.V. All rights reserved.
  ~
  ~ This software is the proprietary copyright of TomTom N.V. and its subsidiaries and may be
  ~ used for internal evaluation purposes or commercial use strictly subject to separate
  ~ licensee agreement between you and TomTom. If you are the licensee, you are only permitted
  ~ to use this Software in accordance with the terms of your license agreement. If you are
  ~ not the licensee then you are not authorised to use this software in any manner and should
  ~ immediately return it to TomTom N.V.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomtom.ivi.example.product.exampleapp">

    <application
        android:name="com.tomtom.ivi.api.defaults.application.DefaultApplication"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TtiviApplicationTheme"
        tools:ignore="Instantiatable">

        <activity
            android:name="com.tomtom.ivi.core.debug.permissions.SetupActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="com.tomtom.ivi.core.debug.permissions.META_DATA_KEY_APPLICATION_NAME_RES_ID"
                android:resource="@string/app_name" />
            <meta-data
                android:name="com.tomtom.ivi.core.debug.permissions.META_DATA_KEY_MAIN_ACTIVITY_CLASS_NAME"
                android:value="com.tomtom.ivi.example.product.exampleapp.ExampleActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tomtom.ivi.example.product.exampleapp.ExampleActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Both this intent filter and the next one need to be specified for android to
                     accept an application as the default dialer.
                     https://developer.android.com/reference/android/telecom/InCallService -->
                <action android:name="android.intent.action.DIAL" />
                <data android:scheme="tel" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <!-- This is needed to be able to become the default DIALER application. -->
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
