@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:wght@400;600&display=swap");

:root {
    --brand-red: #df1b12;
    --brand-blue: #1988cf;
    --brand-white: #fafafa;
    --brand-black: ##0a0e11;
    --gray-very-dark: #18212a;
    --gray-dark: #3c4956;
    --gray-neutral-strong: rgba(128, 128, 128, 0.4);
    --gray-neutral: rgba(128, 128, 128, 0.15);
    --gray-subtle: rgba(128, 128, 128, 0.05);
    --opacity-inactive: 0.7;
    --text: var(--gray-dark);
    --background: var(--brand-white);
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;
    --size-header: 5rem;
    --size-button: 3rem;
    --size-font: 14px;
    --size-font-code: 14px;
    --size-max-width: 960px;
    --size-radius: 0.5rem;
    --shadow-default: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.1);
}

html {
    background: var(--background);
    font-size: var(--size-font);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

body {
    margin: 0 auto;
    padding: var(--spacing-medium);
    max-width: var(--size-max-width);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

body > 8 {
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: var(--brand-white);
        --background: var(--gray-very-dark);
        --brand-blue: #3f9cd9;
    }
}

/* Typography */

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    overflow-wrap: break-word;
}

h1 {
    margin-top: 0;
    font-size: 2.8rem;
}

h2 {
    position: relative;
    padding-top: 2rem;
    font-size: 2.441rem;
}

h2:not(:first-child)::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: var(--gray-neutral);
    height: 1px;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small,
figcaption {
    font-size: 0.8rem;
}

figcaption {
    font-weight: 600;
    opacity: var(--opacity-inactive);
}

a {
    color: var(--brand-blue);
}

/* Images */
blockquote,
figure,
html {
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: var(--size-radius);
    box-shadow: var(--shadow-default);
    border: 1px solid var(--gray-neutral);
}

ul {
    padding-inline-start: var(--spacing-medium);
}

/* Code */
div.sourceCode,
pre.cmd {
    border: 1px solid var(--gray-neutral);
    box-sizing: border-box;
    width: 100%;
    display: block;
    background: var(--gray-subtle);
    padding: var(--spacing-medium);
    border-radius: var(--size-radius);
}

p code {
    border: 1px solid var(--gray-neutral);
    background: var(--gray-subtle);
    padding: 0 4px;
    border-radius: var(--size-radius);
}

code {
    font-family: "Fira Mono", monospace;
}

code span.al {
    color: #ff0000;
    font-weight: bold;
} /* Alert */
code span.an {
    color: #60a0b0;
    font-weight: bold;
    font-style: italic;
} /* Annotation */
code span.at {
    color: #7d9029;
} /* Attribute */
code span.bn {
    color: #40a070;
} /* BaseN */
code span.bu {
} /* BuiltIn */
code span.cf {
    color: #199d85;
    font-weight: bold;
} /* ControlFlow */
code span.ch {
    color: #6ea0d2;
} /* Char */
code span.cn {
    color: #880000;
} /* Constant */
code span.co {
    color: #8a9aabb3;
    font-style: italic;
} /* Comment */
code span.cv {
    color: #699ace;
    font-weight: bold;
    font-style: italic;
} /* CommentVar */
code span.do {
    color: #ba2121;
    font-style: italic;
} /* Documentation */
code span.dt {
    color: #d07937;
} /* DataType */
code span.dv {
    color: #40a070;
} /* DecVal */
code span.er {
    color: #ff0000;
    font-weight: bold;
} /* Error */
code span.ex {
} /* Extension */
code span.fl {
    color: #40a070;
} /* Float */
code span.fu {
    color: #515ddf;
} /* Function */
code span.im {
} /* Import */
code span.in {
    color: #60a0b0;
    font-weight: bold;
    font-style: italic;
} /* Information */
code span.kw {
    color: #199d85;
    font-weight: bold;
} /* Keyword */
code span.op {
    color: #666666;
} /* Operator */
code span.ot {
    color: #199d85;
} /* Other */
code span.pp {
    color: #bc7a00;
} /* Preprocessor */
code span.sc {
    color: #6ea0d2;
} /* SpecialChar */
code span.ss {
    color: #bb6688;
} /* SpecialString */
code span.st {
    color: #6ea0d2;
} /* String */
code span.va {
    color: #5e65b1;
} /* Variable */
code span.vs {
    color: #6ea0d2;
} /* VerbatimString */
code span.wa {
    color: #60a0b0;
    font-weight: bold;
    font-style: italic;
} /* W

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    padding: var(--spacing-small);
    text-align: left;
    border-bottom: 2px solid var(--gray-neutral);
}

tbody > tr:hover {
    background: var(--gray-subtle);
}

tbody > tr > td {
    padding: var(--spacing-small);
    border-bottom: 1px solid var(--gray-neutral);
    min-width: 250px;
}
